@charset "utf-8";
/* CSS Document */

/* Incluir la fuente personalizada */
@font-face {
  font-family: 'OldSchoolUnitedShadowItalic';
  src: url('../style/fonts/old_school_united_shadow_italic.ttf') format('truetype');
}

/* Ajustes de tamaño y alineación de la navbar en móviles */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 30px;
    height: 25px;
  }
  .navbar-nav .nav-item {
    margin-left: 10px;
  }
}

/* Texto Flotante (Nombre_Sitio) */
.site-name-float {
  color: rgb(24, 136, 8);
  font-family: 'OldSchoolUnitedShadowItalic', sans-serif;
  font-size: 6rem; /* Tamaño de letra más grande */
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0); /* Fondo blanco semitransparente */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  line-height: 0.9; /* Ajuste de la altura de línea para más espacio entre líneas */
}

/* Estilos para el desplazamiento de las líneas de texto flotante */
.site-name-float .line-1 {
  margin-left: 15px; /* Línea 1 sin desplazamiento */
}
.site-name-float .line-2 {
  margin-left: 180px; /* Desplazamiento de la línea 2 */
}
.site-name-float .line-3 {
  margin-left: 220px; /* Desplazamiento de la línea 3 */
}

/* Centrar los iconos de redes sociales en pantallas grandes */
.social-icons {
  display: flex;
  justify-content: center; /* Centrar los íconos */
  align-items: center; /* Alineación vertical centrada */
  margin-left: auto;
  margin-right: auto;
  gap: 10px; /* Añadir espacio entre los iconos */
}

/* Aumentar el margen izquierdo del icono de daltonismo */
.icono-daltonismo {
  margin-right: 30px !important; /* Ajusta el valor según tus necesidades */
}

/* Para pantallas pequeñas, si deseas un ajuste diferente */
@media (max-width: 768px) {
  .icono-daltonismo {
    margin-right: 25px; /* Ajuste en móviles */
  }
}

/* Asegurarse de que el carrito se mantenga a la derecha en pantallas grandes */
.cart {
  margin-left: auto; /* Empuja el carrito hacia la derecha */
}

/* Estilos para el fondo */
/* Hacer que la imagen ocupe toda la pantalla sin barra de desplazamiento */
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1a1a1a; /* Fondo negro mate */
}

/* Deshabilitar scroll en pantallas grandes */
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Imagen de fondo en pantallas grandes */
img.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Ajustes para la imagen en dispositivos móviles */
@media (max-width: 768px) {
  img.img-fluid {
    height: auto; /* Permite que la imagen se ajuste a la altura de la pantalla */
    object-fit: contain; /* Mantiene la imagen completa visible */
  }
}

/* Tamaño del texto en pantallas grandes */
.site-name-float {
  font-size: 5rem;
}

/* Navegación */
/* Enlaces de navegación verticales */
.text-vertical {
  writing-mode: vertical-lr;
  text-decoration: none;
  text-orientation: upright;
  font-size: 1.2rem !important;
  color: white; /* Color por defecto */
}

/* Enlaces de navegación sin subrayado */
.text-no-underline {
  text-decoration: none;
}

/* Galería */
/* Añadir espacio entre el título y los productos dentro de la galeria */
.gallery-container h2 {
  margin-bottom: 20px; /* Ajusta el valor según el espacio que desees */
}

/* Estilos para el contenedor de galería de productos */
.gallery-container {
  position: absolute;
  top: 3%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}

.gallery-container .row {
  justify-content: space-between !important; /* Distribuye los productos con más espacio */
}

/* Deshabilitar scroll en pantallas grandes */
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Habilitar scroll en pantallas pequeñas */
@media (max-width: 768px) {
  body, html {
    overflow-y: auto; /* Permitir scroll vertical en móviles */
  }
}

 /* Permitir scroll en la página completa para pantallas pequeñas */
 body, html {
  overflow-y: auto;
}
 
/* Estilos para tarjetas de productos */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

/* Mostrar 2 productos por fila en pantallas pequeñas */
@media (max-width: 768px) {
  .col-6 {
    width: 50% !important;
  }
}

/* Asegurarnos de que las imágenes se adapten bien en las tarjetas */
.card img {
  width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  max-height: 200px; /* Limitar la altura máxima de las imágenes para evitar que se estiren demasiado */
  object-fit: cover; /* Asegura que las imágenes se adapten bien al espacio sin distorsionarse */
}
.card-body {
  padding: 15px;
  text-align: center;
}


/* Formulario */
/* Estilos para el contenedor flotante del formulario */
.form-container {
  width: 50%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px; /* Padding para el contenido */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  margin-top: 10px; /* Margen superior para espacio respecto a la barra de navegación */
  margin-bottom: 20px; /* Margen inferior para espacio respecto al margen inferior */
  position: absolute; /* Permite ajustar la posición con respecto a elementos padres */
  top: 50%; /* Ajuste adicional para centrar el formulario verticalmente */
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; /* Bordes redondeados */
  color: white; /* Color del texto */
}





/* Otros ajustes */
/* Desactivar el cambio de puntero */
.no-pointer {
  pointer-events: none;
}


/* Ajustes en Javascript */
/* Modo Daltonismo */
.daltonism-mode body,
.daltonism-mode .navbar,
.daltonism-mode .gallery-container,
.daltonism-mode .form-container,
.daltonism-mode .main-image {
  filter: grayscale(100%);
}

